body {
    background-color: rgb(255, 229, 233);
    overflow-x: hidden;
}

h1 {
    font-family: 'Dancing Script';
}

a.contact, a.home {
    text-decoration: none;
    color: black;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgba(0, 100, 0, 0.107);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Dancing Script';
    font-size: 150% !important;
    margin-top: 5px;
}

/* a.about {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} */

a.contact, a.home {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Dancing Script';
    font-size: 150% !important;
    margin-top: 5px;
}

a.contact:hover, a.home:hover {
    color: black;
    background-color: rgba(0, 100, 0, 0.495);
    border-style: none;
}

button.submit {
    text-decoration: none;
    margin-top: 10px;
    color: black;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgba(0, 100, 0, 0.107);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: none;
    font-family: 'Dancing Script';
    font-size: 150% !important;
}

button.submit:hover {
    color: black;
    background-color: rgba(0, 100, 0, 0.495);
    border-style: none;
}

img.img {
    width: 15rem !important;
    margin-bottom: 6px;
}

img.arrow {
    width: 5rem !important;
    margin-top: 60px;
}

div.contact {
    margin-top: 13px;
    text-align: center;
}

input {
    width: 30%;
    margin-bottom: 12px;
}

label {
    margin-bottom: 8px;
}

textarea {
    width: 300px;
    height: 200px;
}

h2, h3 {
    font-family: 'Dancing Script';
    color: black;
}

a.email {
    padding-left: 5px;
    padding-right: 5px;
}

p, h4 {
    font-family: 'Dancing Script';
}

span {
    margin-bottom: 5px !important;
}